<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron">
        <h3>CCC in USW</h3><br>
        <P>환영합니다! 수원대 중앙동아리 CCC입니다!</p>
      </div>

    </div>
  </body>
</html>
