<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron" style="background-color: transparent !important;"> 

        <h2>🌼CCC in USW</h2><br>
        <P>환영합니다! 수원대 중앙동아리 CCC입니다</p><br>
        <p>  </p>
      </div>

    </div>
  </body>
</html>
